.calenderHeader {
  display: flex;
  border-radius: 13px 13px 0px 0px;
  flex-direction: column;
  background-color: var(--background-2);
}

input {
  background: inherit;
  border-width: 0px;
  font: inherit;
  padding: 0px;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.backButton {
  display: flex;
  justify-content: center; /* horizontally */
  align-items: center; /* vertically */
  height: inherit;
  background-color: unset;
  width: 55px;
}
.backButton > img {
  width: inherit;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 5px 0px;
}

hr {
  width: 60%;
  height: 0;
  border-style: solid;
  border-color: #48cae4;
}
