.formBox {
  display: flex;
  flex-direction: column;
}

.formBox > * {
  background-color: #00bcd4;
}

.formBody {
  display: block;
  width: -webkit-fill-available;
  min-height: 100vh;
  margin: 0 auto;
  padding: 7px;
}
