.formBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.formBox > *{
  background-color: #00bcd4;
  border-radius: 13px 13px 0px 0px;
}

.backButton {
  background-color: unset;
  width: 130px;
}
.backButton > img{
  width: inherit;
}

.formHeading {
  display: block;
  width: 400px;
  padding: 20px;
}

.formHeading h2{
  margin: 0;
}

.formBody {
  display: block;
  width: -webkit-fill-available;
  min-height: 100vh;
  margin: 0 auto;
  padding: 15px;
  border-radius: 13px 0px 0px 0px;
}


